.container{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  height: 100%;
  /*flex-direction: column;*/;
  justify-content: space-between;
}
.card{
  width: 20%;
  height: 25%;
  padding: 20px;
  margin: 5px;
}
